.Footer
  bottom 0
  position absolute
  width 100%
  .Footer-menu
    list-style none
    margin 0
    padding 10px 0
    li
      display inline-block
  .Footer-link
    color #4a4a4a
    font-size .8em
    text-transform uppercase
