@import './vars'
@import './mixins'

@import './utils'
@import './base/normalize'
@import './base/base'
@import './base/anchors'
@import './logo/logo'
@import './layout/body'
@import './layout/containers'
@import './layout/wrapper'
@import './layout/menu'
@import './layout/header'
@import './layout/footer'
@import './forms/base'
@import './forms/form'
@import './ui/buttons'
@import './effects/dynamic-background'
@import './sections/login'
@import './sections/signup'

html
  box-sizing border-box
  &, body
    // min-height 100vh
    margin 0
  *
    box-sizing inherit
